{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url({% static 'img/bg8.jpg' %})">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h3
                  class="title">Ваш предварительный заказ</h3>
        </div>
      </div>
    </div>
  </div>


<div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
          <div class="table-responsive">

<br>
<table class='table'>
    <tr>
        <td class='text-center'><strong>Товар</strong></td>
        <td class='text-center'><strong>Кол-во</strong></td>
        <td class='text-center'><strong>Цена</strong></td>
        <td class='text-center'></td>
    </tr>
    {% for item in cart.items.all %}
    <tr>
        <td class='text-center'>{{ item.product.title }}</td>
        <td class="text-center">{{ item.qty }}</td>
        <td class='text-center'>{{ item.item_total }} грн.</td>
        <td></td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td class='text-center'><strong>Итого: </strong></td>
        <td class='text-center'><strong>{{ cart.cart_total }} грн.</strong></td>
        <td class='text-center'></td>
    </tr>
</table>
<a href='{% url "create_order" %}' class='pull-right'>
    <button class='btn btn-success'>Оформить заказ</button>
</a>




          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}