{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url({% static 'img/bg8.jpg' %})">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Продукт</h2>
        </div>
      </div>
    </div>
  </div>



 <div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
          <div class="table-responsive">

            <div class='col-sm-4'>
<img src='{{ product.image.url }}' style='width:80%; height: 80%;'>
</div>
<div class='col-sm-8'>
<h3 class='text-center'>{{ product.title }}</h3>
<p>{{ product.description }}</p>

<hr>
    <p style='font-size:25px;'>Цена: <strong>{{ product.price }} грн.</strong></p>
{% if request.user.is_authenticated %}<a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a>{% endif %}
<br><br>
{% if not request.user.is_authenticated %}<p class='text-center'>Заказывать товар могут только авторизированные пользователи. Пожалуйста, <a href='{% url "login" %}'>войдите</a> или <a href='{% url "registration" %}'>зарегистрируйтесь</a></p>{% endif %}
</div>


          </div>
        </div>
      </div>
    </div>
  </div>




<script src='{% static "js/jquery.js" %}'></script>
<script>
    $(document).ready(function(){
        $('.add_to_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type:"GET",
                url: '{% url "add_to_cart" %}',
                data: data,
                success: function(data){
                $("#cart_count").html(data.cart_total)
                }
            })
        })
    })
</script>

{% endblock content %}